.App {
  text-align: center;
  text-size:1em;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.main {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:0.5em;
}
.main>span {
  font-size:2em;
}

.splash {
  width:20%;
}

.buttons {
  width:100%;
  display:inline;
}
.buttons>*{
  transition:width 0.25s ease-out,
             height 0.25s ease-out;
  
}
.buttons>*>span{
  transition:font-size 0.25s ease-out;
}

.btn {
  color:white;
  border-radius:8px;
}
.btn-primary {
  background-color:#86dc3d;
  border-color:#378805;
}
.btn-secondary {
  background-color:#ed3419;
  border-color:#c61a09;
}
